<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".debug.DebugVpnControlReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="io.github.scisaga.loom.debug.CONNECT" />
                <action android:name="io.github.scisaga.loom.debug.ENROLLMENT_KEEPALIVE" />
                <action android:name="io.github.scisaga.loom.debug.DISCONNECT" />
                <action android:name="io.github.scisaga.loom.debug.IMPORT_INVITE" />
                <action android:name="io.github.scisaga.loom.debug.RETRY_ENROLLMENT" />
                <action android:name="io.github.scisaga.loom.debug.ABANDON_PENDING" />
                <action android:name="io.github.scisaga.loom.debug.ENROLLMENT_STATUS" />
                <action android:name="io.github.scisaga.loom.debug.ROUTE_STATUS" />
                <action android:name="io.github.scisaga.loom.debug.RUNTIME_STATUS" />
                <action android:name="io.github.scisaga.loom.debug.ROUTE_DIRECT" />
                <action android:name="io.github.scisaga.loom.debug.ROUTE_AUTO" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
